.advantages {

	padding-top: 70px;
	
	@include _768 {
		padding-top: 90px;
	}
	
	@include _992 {
		padding-top: 164px;
	}

	// .advantages__section-name

	&__section-name {
		max-width: 620px;
	}

	// .advantages__title

	&__title {
		max-width: 650px;
	}

	// .advantages__text

	&__text {
		margin-top: 24px;
		@include _550 {
			margin-top: 40px;
		}

		max-width: 747px;

		color: #211C17;
		font-weight: 500;
		line-height: 160%;

		font-size: 1rem;
		@include _426 {
			font-size: 1.25rem;
		}
	}

	// .advantages__inner

	&__inner {
		padding-top: 48px;

		overflow-x: auto;
		width: calc(100% + (var(--container-padding) * 2));
		margin: 0 calc(0px - var(--container-padding));

		padding-left: var(--container-padding); padding-right: var(--container-padding);
		padding-bottom: 10px;

		scroll-snap-type: x mandatory;

		@include _992 {
			padding-top: 80px;
			margin: 0;
			padding-left: 0; padding-right: 0;
			padding-bottom: 0;
			width: auto;
			overflow-x: visible;
		}
	}

	// .advantages__row

	&__row {
		display: flex;
		
		gap: 0 16px;

		@include _992 {
			display: grid;
			gap: 0 48px;
			grid-template-columns: 1fr 1fr;
		}

		@media (min-width: #{$containerMin}px) {
			gap: 0 160px;
		}
	}

	// .advantages__col

	&__col {
	}

	// .advantages__list

	&__list {
		display: flex;
		//gap: 16px;
		@include _992 {
			flex-direction: column;

			gap: 48px;
		}
		
	}

	// .advantages__item

	&__item {

		display: flex;
		flex-direction: column;
		gap: 16px;
		@include _426 {
			gap: 24px;
		}

		@include _550 {
			flex-direction: row;
		}

		scroll-snap-align: start;

		min-width: calc(100vw - (var(--container-padding) * 2));
		padding-left: var(--container-padding);

		@include _992 {
			min-width: auto;
			padding-left: 0;
		}

		// .advantages__item--icon

		&--icon {
			flex: 0 0 65px; width: 65px; height: 65px;
			@include _426 {
				flex: 0 0 104px; width: 104px; height: 104px;
			}
			background: var(--accent);
			border-radius: 8px;

			display: flex;
			align-items: center;
			justify-content: center;
		}

		// .advantages__item--content

		&--content {
			h4 {
				font-weight: 700;
				line-height: 150%;
				color: var(--accent);
				font-size: 1.25rem;

				@include _426 {
					font-size: 1.5rem;
				}
			}
			p {
				
				font-weight: 500;
				color: rgba(33,28,23,0.6);
				font-size: 0.875rem;
				line-height: 170%;

				@include _426 {
					font-size: 1rem;
				}
			}
		}
	}
}
